@import '../../../styles/mixins';
@import '../../../styles/variables.module';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  @include bgColorStyle(header);
  padding: $layout-header-footer-padding;
}

.leftSide {
  display: flex;
  flex-grow: 1;
}

.rightSide {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
