@import '../../styles/mixins';

.dashboardLayout {
  display: flex;
  min-height: 100vh;
}

.theme-light {
  @include theme('light');
}

.theme-dark {
  @include theme('dark');
}

.sidebar {
  width: var(--layout-sidebar-width);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;

  nav {
    flex-grow: 1;
  }

  button[class^='collapseButton'],
  button[class*=' collapseButton'] {
    height: var(--layout-footer-height);

    svg {
      transition: transform 0.2s ease-in-out;
    }
  }

  &.sidebar--collapsed {
    width: var(--layout-sidebar-collapsed-width);

    button[class^='collapseButton'],
    button[class*=' collapseButton'] {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.mainContainer {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  max-width: 100%;

  header {
    position: sticky;
    top: 0px;
    left: auto;
    right: 0px;
    flex-shrink: 0;
    height: var(--layout-header-height);
  }

  footer {
    height: var(--layout-footer-height);
  }
}

.main {
  flex: 1 1 0%;
  padding: var(--layout-main-padding);
  @include bgColorStyle(main);
}
