:root {
  /* Colors */
  --color-primary: #376fd0;
  --color-secondary: #3dada1;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-background: #f7f9fc;
  --color-grey-border: #e4e9f2;

  --color-sidebar-background: #233044;
  --color-sidebar-font: #eeeeee;

  --color-font-primary: #eeeeee;
  --color-font-black: #000000;

  /* Layout */
  --layout-sidebar-width: 260px;
  --layout-sidebar-collapsed-width: 80px;
  --layout-header-height: 64px;
  --layout-footer-height: 48px;
  --layout-main-padding: 48px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
