:root {
  /* Colors */
  --color-primary: #233044;
  --color-primary-dark: #1e2a38;
  --color-secondary: #4782da;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-background: #f7f9fc;

  --color-font-primary: #eeeeee;
  --color-font-black: #000000;

  /* Layout */
  --layout-aside-width: 260px;
  --layout-header-height: 64px;
  --layout-footer-height: 60px;
  --layout-main-padding: 48px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
