@import '../../../styles/mixins';
@import '../../../styles/variables.module';

.navbar {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 16px;
  @include bgColorStyle(sidebar);

  h6 {
    padding: 8px 0 0 16px;
    opacity: 0.4;
    height: 26px;
  }

  svg {
    font-size: 18px;
    color: $color-grey-font;
  }

  span {
    @include font(14px, 400);
    opacity: 1;
  }

  h6,
  span,
  .navbarExpandIcon {
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.2s;
  }

  &--collapsed {
    h6,
    span,
    .navbarExpandIcon {
      opacity: 0;
      width: 0;
      visibility: hidden;
    }

    .setionTitleCollapsedBar {
      visibility: visible;
      hr {
        opacity: 0.1;
      }
    }
  }
}
.setionTitleWrapper {
  position: relative;
}

.setionTitleCollapsedBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 12px;
  visibility: hidden;

  hr {
    opacity: 0;
    border-top: 1px;
    transition: opacity 0.5s;
    transition-delay: 0.3s;
    margin-top: 10px;
  }
}

.elementIcon {
  font-size: 18;
  color: $color-grey-font;
}

.navbarSectionTitle {
  @include font(12px, 500);

  padding: 16px 28px 4px;
  opacity: 0.4;
  text-transform: uppercase;
}

.navbarElement {
  padding: 10px 16px !important;
  border-left: 4px solid transparent !important;

  &:hover {
    svg {
      color: $color-secondary;
    }
  }

  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.navbarChildElement {
  a {
    width: 100%;
    height: 100%;
    display: flex;
  }
}

.navbarChildElement {
  padding-left: 56px !important;
  color: $color-grey-font !important;
}

.navbarExpandIcon {
  opacity: 1;
  transition: transform 0.3s ease-in-out !important;

  &.navbarExpandIcon--expanded {
    transform: rotate(180deg);
  }
}

.activeElement {
  border-left: 4px solid $color-secondary !important;
  svg {
    color: $color-secondary;
  }
}
