@import '../../../styles/mixins';

.homeLink {
  min-height: var(--layout-header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  @include bgColorStyle(sidebar);

  span {
    @include font(20px, 600);

    margin-left: 8px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.2s;
  }
}

.homeLink--collapsed {
  span {
    opacity: 0;
    width: 0;
    visibility: hidden;
    margin-left: 0;
  }
}
